/*global*/

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
    
    *{
        margin:0;
        padding:0;
    }

    body{
        font-family: 'roboto', sans-serif;
        background-color: black;
    }

    img{
        max-width:100%;
    }

    a{
        color:black;
        text-decoration: none;
    }

    h2,h3,h4{
        text-transform: uppercase;
    }
/*utilities*/



/*navigation*/

nav.menu{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height:40px;
    padding:5px 20px;
}

nav.menu img{
    height: 32px;
}

img.natgeo-logo{
    display: none;
}

a.login-link{
    text-transform: uppercase;
    font-size: 15.2px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 20px;
}

a.search-link{
    display:none;
}

a.news-link{
    display:none;
}

a.subs-link{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 25px;
    background-color: black;
    color: white;
    padding: 15px;
}

a.menu-link span{
    display: none;
}
/*header*/

header{
    height:250;
    color:white;
}

.title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.7rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    text-align: center;
}

.description{
    color:white;
    margin-bottom: 100px;
    text-align: center;
    font-size: 17.5px;
}

.description span{
    border-bottom: 2.8px solid #ffcc00;
}

.description span:hover{
    background-color: #ffcc00;
    border: 0.5px solid;
}

/*body*/

/*main news*/

.main-news{
    position: relative;
    overflow: hidden;
}

.main-news-text{
    position: absolute;
    top: 100px;
    left:30px;
    color: white;
}

.main-news-text h3{
    font-size:8px;
    letter-spacing: 3px;
    margin-top: 49%;
}

.main-news-text p{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 20px;
    
}

.main-news img{
    width: 95%;
    margin-left: 15px;   
    margin-right: 15px;
    align-items: center;      
}

.main-news img:hover{
    transform: scale(1.1);
}
/*secondary*/

.secondary-news{
    position: relative;
    border: 3px solid #ffcc00;
    border-top: hidden;
    border-left: hidden;
    overflow: hidden;
}

.secondary-news img{
    width: 95%;
    height:270px;
    margin-top: 10px; 
    margin-left: 15px;   
    margin-right: 15px;
    align-items: center;
}

.secondary-news img:hover{
    border-bottom: 5px solid #ffcc00;
    transform: scale(1.1);
}

.secondary-news-text h3{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
}

.secondary-news-text h3:hover{
    text-decoration: underline;
}

.secondary-news-text{
    color:white;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 16px;
    width: 98%;
    margin-left: 30px;
}

.secondary-news-text h4{
    margin-top: 24px;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/*Secondary News 2*/

.secondary-news2{
    position: relative;
    border: 3px solid #ffcc00;
    border-top: hidden;
    border-left: hidden;
    overflow: hidden;
}


.secondary-news2 img{
    width: 95%;
    height:275px;
    margin-top: 10px; 
    padding: auto; 
    margin-left: 15px;   
    margin-right: 15px;
    align-items: center;
}

.secondary-news2 img:hover{
    border-bottom: 5px solid #ffcc00;
    transform: scale(1.1);
}

.secondary-news2-text{
    color:white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 98%;
    margin-left: 30px;
}

.secondary-news2-text h3{
    font-size: 14px;
    font-weight: light;
    letter-spacing: 3px;
    margin-left: auto;
    margin-bottom: 16px;
}

.secondary-news2-text h4{
    margin-top: 20px;
    font-size: 12px;
    letter-spacing:3px;
}

/*Today's Picks*/

.todays-picks h2{
    font-size: 34px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    border-left: 4px solid #ffcc00;
    padding-left: 20px;
    margin-left: 15px;
    margin-top: 55px;
    margin-bottom: 40px;
}

.pick-element{
    display: flex;
    align-items: center;
}

.pick-element-img{
    width: 22%;
    margin-left: 15px;
    margin-bottom: 300px;
}

.pick-element-text{
    display: flex;
    flex-direction: row;

}


